*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    padding: 24px;
    background-color: rgb(8, 8, 85);
}


input, textarea, button{
    margin: 4px 00;
    padding: 8px;
    border: 2px solid #2d708a;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.enviar{
    text-align: center;
}

.botao{
    background-color: #6390a1;
    color: #ffffff;
    cursor: pointer;
}